.section-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 10%;
}



/* Dvisão das Opções de Cores */
.principal-cores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 320px;
}

.principal-cores img{
    width: 70px;
    opacity: 0.7;
}

.principal-cores .cor-escolhida{
    opacity: 1;
    border: 2px solid #fb4e0f;
}



/* Dvisão das Opção Escolhida */
.principal-camisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-camisa img{
    height: 320px;
}



/* Dvisão das Informações */
.principal-info{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    height: 320px;
}

.principal-info .info-preco{
    font-size: 1.5em;
    color: #fb4e0f;
}

.principal-info .info-disponibilidade{
    font-size: 0.8em;
}

.principal-info .info-modelo{
    font-size: 0.8em;
}

.principal-info .info-cores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    height: 50px;
}

.principal-info .info-cores a{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
    border: 1px solid #b0b0b0;
    padding: 7px;
    transition-duration: 0.5s;
}

.principal-info .info-cores a:hover{
    border: 1px solid #fb4e0f;
    color: #fb4e0f;
}

.principal-info .info-tamanho{
    font-size: 0.8em;
}

.principal-info .info-medidas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    height: 50px;
}

.principal-info .info-medidas a{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
    border: 1px solid #b0b0b0;
    padding: 7px 10px;
    transition-duration: 0.5s;
}

.principal-info .info-medidas a:hover{
    border: 1px solid #fb4e0f;
    color: #fb4e0f;
}

.principal-info .info-tamanho-escolhido{
    font-size: 0.8em;
}

.principal-info .info-botao{
    text-decoration: none;
    color: #ffffff;
    background-color: #fb4e0f;
    border: 1px solid transparent;
    padding: 15px 10px;
    margin-top: 10px;
    font-size: 0.9em;
    transition-duration: 0.5s;
}

.principal-info .info-botao:hover{
    background-color: transparent;
    border: 1px solid #fb4e0f;
    color: #fb4e0f;
}