
/* Cabeçalho do Login*/
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20%;
    background-color: #d4d4d4;
}

.cabecalho-logo{
    display: flex;
    align-items: center;
    height: 60px;
}

.cabecalho-logo img{
    width: 40px;
}

.cabecalho-logo h1{
    font-weight: 500;   
    color: #fb4e0f;
}

.cabecalho-logo p{
    color: #1e1e1e;
    margin-left: 20px;
    font-size: 1.2rem;
}

.cabecalho-ajuda{
    text-decoration: none;
    color: #fb4e0f;
}



/* Formulário de Login */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2% 0%;
    background-color: #fb4e0f;
}
  
.login-formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 40px 40px;
    background-color: #ffffff;
    border-radius: 5px;
}

.login-formulario h2{
    font-weight: 500;
}

.login-formulario form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.login-formulario form input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #9f9f9f;
    transition-duration: 0.4s;
}

.login-formulario form input:hover{
    border: 1px solid #fb4e0f;
}

.login-formulario form a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: none;
    text-decoration: none;
    background-color: #fb4e0f;
    color: #ffffff;
    transition-duration: 0.5s;
}

.login-formulario form a:hover{
    background-color: transparent;
    border: 1px solid #fb4e0f;
    color: #fb4e0f;
}

.formulario-ajuda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formulario-ajuda a{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(6, 77, 182);
}

.formulario-separador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: #787878;
}

.formulario-separador hr{
   width: 100%;
}

.formulario-formas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formulario-formas a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #1e1e1e;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    padding: 7px 11px;
    transition-duration: 0.5s;
}

.formulario-formas a:hover{
    border: 1px solid #fb4e0f;
    color: #fb4e0f;
}

.formulario-formas img{
    height: 25px;
}

.formulario-cadastro{
    color: #787878;
}

.formulario-cadastro a{
    text-decoration: none;
    color: #fb4e0f;
}