.clientes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #9f9f9f;
    padding: 5% 5%;
}

.clientes-titulo{
    font-weight: 500;
    color: #fb4e0f;
}

.clientes-tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 40px 20px;
}

.clientes table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.clientes table tr{
    border-bottom: 1px solid #78787874;
}

.clientes table tr:last-child{
    border: none;
}

.clientes table td, th{
    padding: 5px 17px;
    font-size: 0.9rem;
    color: #1e1e1e;
}

.clientes table th{
    padding: 15px 17px;
}

.clientes table img{
    height: 40px;
}

.clientes table a{
    text-decoration: none;
    color: #ffffff;
    padding: 7px 12px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.clientes table a:first-child{
    background-color: #ff7300;
    margin-right: 10px;
    transition: 0.5s;
}

.clientes table a:first-child:hover{
    background-color: transparent;
    border: 1px solid #ff7300;
    color: #ff7300;
}

.clientes table a:nth-child(2){
    background-color: #af1501;
    transition: 0.5s;
}

.clientes table a:nth-child(2):hover{
    background-color: transparent;
    border: 1px solid #af1501;
    color: #af1501;
}