.produtos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 3% 10%;
}

.produtos-titulo{
    color: #ff7300;
}

.produtos-itens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    width: 100%;
}

.produtos-itens a{
    text-decoration: none;
}

.produtos-itens a:hover{
    border: 2px solid #fb4e0f;
    border-radius: 7px;
}

.itens-descricao{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    border-radius: 7px;
    box-shadow: 1px 1px 20px rgba(74, 74, 74, 0.4);
    padding: 30px 20px;
}

.itens-descricao img{
    width: 200px;
    margin: auto;
}

.itens-descricao p{
    font-size: 0.85rem;
    color: #1e1e1e;
}

.itens-descricao p:first-of-type{
    width: 100%;
}

.descricao-fabricante{
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    width: 185px;
}

.descricao-fabricante p:nth-child(2){
    color: #787878;
}

.descricao-texto{
    display: flex;
    align-items: flex-start;
    text-align: start;
     width: 200px;
}

.descricao-texto p:nth-child(2){
    color: #787878;
}

.descricao-disponibilidade{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.descricao-disponibilidade p:first-of-type{
    color: #ff7300;
}

.descricao-disponibilidade p:nth-child(2){
    color: #787878;
    white-space: nowrap;
}