.clientes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 3% 5%;
}

.clientes-titulo{
    color: #ff7300;
}

.clientes table{
    border-collapse: collapse;
    text-align: left;
}

.clientes table td, th{
    padding: 5px 30px;
    border: 1px solid #78787874;
    font-size: 0.9rem;
    color: #1e1e1e;
}

.clientes table th{
    padding: 15px 30px;
    background-color: #d4d4d4;
}

.clientes table img{
    height: 40px;
}

.clientes table a{
    text-decoration: none;
    color: #ffffff;
    padding: 7px 12px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.clientes table a:first-child{
    background-color: #ff7300;
    margin-right: 10px;
    transition: 0.5s;
}

.clientes table a:first-child:hover{
    background-color: transparent;
    border: 1px solid #ff7300;
    color: #ff7300;
}

.clientes table a:nth-child(2){
    background-color: #af1501;
    transition: 0.5s;
}

.clientes table a:nth-child(2):hover{
    background-color: transparent;
    border: 1px solid #af1501;
    color: #af1501;
}