<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/home.css">
    <title>Xhopii</title>
</head>
<body>
     <header class="cabecalho">
        <nav class="cabecalho-info">
            <nav class="info-logo">
                 <img src="../assets/img/logo.png" alt="Logo da Xhopii">
                <h1>Xhopii</h1>
            </nav>
               
            <nav class="info-sair">
                <a href="../index.html">Sair</a>
            </nav>
        </nav>
        <nav class="cabecalho-menu">
            <ul class="menu-itens">
                <li><a href="#">Home</a></li>
                <li><a href="../view/cadastrar_cliente.html">Cadastro Cliente</a></li>
                <li><a href="../view/cadastrar_funcionario.html">Cadastro Funcionário</a></li>
                <li><a href="../view/cadastrar_produto.html">Cadastro Produto</a></li>
                <li><a href="#">Ver Clientes</a></li>
                <li><a href="#">Ver Funcionários</a></li>
                <li><a href="../view/ver_produtos.html">Ver Produtos</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="descobertas">
        <p class="descobertas-titulo">DESCOBERTAS DO DIA</p>
        <hr>
        <section class="descobertas-itens">
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>  
            <section class="itens-descricao">
                <img src="../assets/img/produto1.png" alt="Foto do produto">
                <p>Camisa Desenvolvedor Front-End CSS</p>
                 <section class="descricao-disponibilidade">
                    <p>R$ 55,90</p>
                    <p>171 Disponíveis</p>
                </section>
            </section>
        </section>
    </section>

    <footer class="rodape"> 
        <section class="rodape-informacoes"> 
            <section class="rodape-atendimento">
                <p>ATENDIMENTO AO CLIENTE</p>
                <ul>
                    <li>Central de Ajuda</li>
                    <li>Como Comprar</li>
                    <li>Métodos de Pagamento</li>
                    <li>Garantia Xhopii</li>
                    <li>Devolução e Reembolso</li>
                    <li>Fale Conosco</li>
                    <li>Ouridoria</li>
                </ul>
            </section>
            <section class="rodape-sobre">
                <p>SOBRE A XHOPII</p>
                <ul>
                    <li>Sobre Nós</li>
                    <li>Políticas Xhopii</li>
                    <li>Política de Privacidade</li>
                    <li>Programa de Aliados da Xhopii</li>
                    <li>Seja um Entregador Xhopii</li>
                    <li>Ofertas Relâmpago</li>
                    <li>Xhopii Blog</li>
                    <li>Impresa</li>
                </ul>
            </section>
            <section class="rodape-pagamento">
                <p>PAGAMENTO</p>
                <section class="pagamento-imagens">
                    <img src="../assets/img/pix.png" alt="Logo do Pix">
                    <img src="../assets/img/boleto.png" alt="Logo do Boleto">
                    <img src="../assets/img/americanexpress.png" alt="Logo da American Express">
                    <img src="../assets/img/visa.png" alt="Logo da Visa">
                    <img src="../assets/img/mastercard.png" alt="Logo do MasterCard">
                    <img src="../assets/img/hipercard.png" alt="Logo do HiperCard">
                    <img src="../assets/img/elo.png" alt="Logo da Elo">
                </section>
            </section>
            <section class="rodape-seguir">
                <p>SIGA-NOS</p>
                <ul>
                    <li><a href="#"><img src="../assets/img/instagram.png" alt="Logo do Instagram">Instagram</a></li>
                    <li><a href="#"><img src="../assets/img/twitter.png" alt="Logo do Twitter">Twitter</a></li>
                    <li><a href="#"><img src="../assets/img/facebook2.png" alt="Logo do Facebook">Facebook</a></li>
                    <li><a href="#"><img src="../assets/img/youtube.png" alt="Logo do YouTube">YouTube</a></li>
                    <li><a href="#"><img src="../assets/img/linkedin.png" alt="Logo do LinkedIn">LinkedIn</a></li>
                </ul>
            </section>
            <section class="rodape-qrcode">
                <p>ATENDIMENTO AO CLIENTE</p>
                <section class="qrcode-imagens">
                    <img src="../assets/img/qr-code.png" alt="Foto do Qr-code">
                    <img src="../assets/img/appstore-googleplay.png" alt="Logo da Google Play e App Store">
                </section>

            </section>
        </section>
        <hr>
        <p class="rodape-copyright">© 2026 Xhopii. Todos os direitos acadêmicos reservados</p>
    </footer>
    <script src="../assets/script.js"></script>
</body>
</html>