<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/camiseta-item.css">
    <title>Xhopii</title>
</head>
<body>
     <header class="cabecalho">
        <nav class="cabecalho-info">
            <nav class="info-logo">
                 <img src="../assets/img/logo.png" alt="Logo da Xhopii">
                <h1>Xhopii</h1>
            </nav>
               
            <nav class="info-sair">
                <a href="../index.html">Sair</a>
            </nav>
        </nav>
        <nav class="cabecalho-menu">
            <ul class="menu-itens">
                <li><a href="../view/home.html">Home</a></li>
                <li><a href="../view/cadastrar_cliente.html">Cadastro Cliente</a></li>
                <li><a href="../view/cadastrar_funcionario.html">Cadastro Funcionário</a></li>
                <li><a href="../view/cadastrar_produto.html">Cadastro Produto</a></li>
                <li><a href="#">Ver Clientes</a></li>
                <li><a href="#">Ver Funcionários</a></li>
                <li><a href="../view/ver_produtos.html">Ver Produtos</a></li>
            </ul>
        </nav>
    </header>

    <section class="section-principal">
        <section class="principal-cores">
            <img class="cor-escolhida" src="../assets/img/produto1.png" alt="Camisa na cor preta">
            <img src="../assets/img/produto2.png" alt="Camisa na cor azul">
            <img src="../assets/img/produto3.png" alt="Camisa na cor verde">
            <img src="../assets/img/produto4.png" alt="Camisa na cor cinza">
            <img src="../assets/img/produto5.png" alt="Camisa na cor rosa">
        </section>
        <section class="principal-camisa">
            <img src="../assets/img/produto1.png" alt="Camisa na cor escolhida">
        </section>
        <section class="principal-info">
                <h2 class="info-titulo">Camisa Desenvolvedor Front-End CSS</h2>
                <p class="info-preco">R$56,90</p>
                <p class="info-disponibilidade">171 peças disponíveis</p>
                <p class="info-modelo">Modelo:</p>
                <ul class="info-cores">
                    <li><a href="#">Preto</a></li>
                    <li><a href="#">Azul</a></li>
                    <li><a href="#">Verde</a></li>
                    <li><a href="#">Cinza</a></li>
                    <li><a href="#">Rosa</a></li>
                </ul>
                <p class="info-tamanho">Tamanhos:</p>
                <ul class="info-medidas">
                    <li><a href="#">P</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">G</a></li>
                    <li><a href="#">GG</a></li>
                </ul>
                <p class="info-tamanho-escolhido">Tamanho Selecionado: P</p>
                <a class="info-botao" href="#">Comprar Agora</a>
        </section>
    </section>
    <script src="../assets/script.js"></script>
</body>
</html>